@import '~normalize.css';
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue/src/index.scss';
@import '../assets/variables';

body {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style-type: none;
}

.environment-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  margin-top: 60px;
  padding: 0 $environment-block-padding-big-screen;
  border-bottom: 1px solid #ebebeb;
  color: #4f4f4f;
  background-color: #fbfbfb;

  @media screen and (max-width: 620px) {
    padding: 0 $environment-block-padding-small-screen;
  }

  .change-calc-view {
    width: 120px;
    height: 25px;
    border: none;
    border-radius: 3px;
    color: #fbfbfb;
    background-color: #ff7c1f;
  }
}

