$blue-color: #4585f4;
$grey-color: #dee0e4;
$light-color: #f1f3f4;
$orange-color: #ff7d20;
$white-color: #ffffff;
$grid-gap-wide-screen: 10px;
$grid-gap-mobile: 5px;
$environment-block-padding-big-screen: 80px;
$environment-block-padding-small-screen: 20px;

